<p>Greetings {{ parentName }},</p>
<p>It looks like your child {{childName}} had forgotten his password,</p>
<p>and sent reset password request!</p>

<p>His/her new password is:</p>
<p>
    {{pwd}}
</p>

<p>You can change it later in application.</p>